
@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

@using (Html.BeginForm())
{
    <button id="btnGetEmployees">Get Employees</button> <br />
    <button id="btnGetEmployee">Get Student</button> <input id="txtEmployeeID" type="text" value="1" /> <br />
    <button id="btnAddEmployee">Add Employee</button> <br />
    <button id="btnUpdateEmployee">Update Employee</button> <br />
    <button id="btnDeleteEmployee">Delete Employee</button> <input id="txtEmployeeIDToDelete" type="text" value="1" /> <br />
    <div id="lblMessage"></div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnGetEmployees').on("click", function () {
                $.ajax({
                    type: "GET",
                    url: '/api/ProjectAPI',
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    var Output = "";
                    for (var i = 0; i < data.length; i++) {
                        Output += "<hr />";
                        Output += "<b>Employee ID : </b>" + data[i].ID + "<br />";
                        Output += "<b>Period : </b>" + data[i].Period + "<br />";
                        Output += "<b>Surname : </b>" + data[i].Surname;
                    }
                    $('#lblMessage').html(Output);
                })
                .error(function (xhr, ajaxOptions, thrownError) {
                    $('#lblMessage').html("Error : An error occured");
                });
                return false;
            });
            $('#btnGetStudent').on("click", function () {
                var StudentID = $("#txtStudentID").val();

                $.ajax({
                    type: "GET",
                    url: '/api/StudentsAPI/' + StudentID,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        var Output = "<hr />";
                        Output += "<b>Student ID : </b>" + data.StudentID + "<br />";
                        Output += "<b>Name : </b>" + data.Name + "<br />";
                        Output += "<b>Surname : </b>" + data.Surname;
                        $('#lblMessage').html(Output);
                    }
                    else {
                        $('#lblMessage').html("No records found.");
                    }
                })
                .error(function (xhr, ajaxOptions, thrownError) {
                    $('#lblMessage').html("Error : An error occured");
                });
                return false;
            });
            $('#btnAddStudent').on("click", function () {
                var Student = { Name: 'Emmanouil', Surname: 'Pitaridis' };
                $.ajax({
                    type: "POST",
                    url: '/api/StudentsAPI',
                    data: Student,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    var Output = "<hr /><b>The new student is the following</b><br />";
                    Output += "<b>Student ID : </b>" + data.StudentID + "<br />";
                    Output += "<b>Name : </b>" + data.Name + "<br />";
                    Output += "<b>Surname : </b>" + data.Surname + "<hr />";
                    $('#lblMessage').html(Output);
                })
                .error(function (xhr, ajaxOptions, thrownError) {
                    $('#lblMessage').html("Error : An error occured");
                });
                return false;
            });
            $('#btnUpdateStudent').on("click", function () {
                var Student = { StudentID: 1, Name: 'Aris', Surname: 'Pitaridis' };
                $.ajax({
                    type: "PUT",
                    url: '/api/StudentsAPI/1',
                    data: Student,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    var Output = "<hr /><b>The updated successfully</b><br />";
                    $('#lblMessage').html(Output);
                })
                .error(function (xhr, ajaxOptions, thrownError) {
                    $('#lblMessage').html("Error : An error occured");
                });
                return false;
            });
            $('#btnDeleteStudent').on("click", function () {
                var StudentID = $("#txtStudentIDToDelete").val();

                $.ajax({
                    type: "DELETE",
                    url: '/api/StudentsAPI/' + StudentID,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        var Output = "<hr /><b>The student that deleted is the following</b><br />";
                        Output += "<b>Student ID : </b>" + data.StudentID + "<br />";
                        Output += "<b>Name : </b>" + data.Name + "<br />";
                        Output += "<b>Surname : </b>" + data.Surname + "<hr />";
                        $('#lblMessage').html(Output);
                    }
                    else {
                        $('#lblMessage').html("No records found.");
                    }
                })
                .error(function (xhr, ajaxOptions, thrownError) {
                    $('#lblMessage').html("Error : An error occured");
                });
                return false;
            });

            $(document).ajaxStart(function () {
                $('#loading').show();
            });
            $(document).ajaxStop(function () {
                $('#loading').hide();
            });
        });
    </script>
}


