<script lang="ja" type="text/javascript">


    function AllcarDetails() {
        $.ajax({
            type: "GET",
            url: "http://localhost:39692/api/Project", //URI

            dataType: "json",
            success: function (data) {
                debugger;
                var datadatavalue = data;
                var myJsonObject = datavalue;
                contentType: "application/json";
                $.each(myJsonObject, function (i, mobj) {
                    $("#Cartbl").append('<tr><td width="50px">' + mobj +
                     '</td><td width="50px">' + mobj +
                    '</td><td width="50px">' + mobj +
                    '</td>' + '</td><td width="50px">'
                    + mobj + '</td></tr>');

                });

            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });

    }  