@{
    ViewBag.Title = "Home Page";
}
<h2>Projects View</h2>
<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }

    .ajax-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px; /* -1 * image height / 2 */
        display: block;
    }
</style>

<div data-ng-controller="projectApiController" class="container">
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
            <form name="addProject" data-ng-show="addMode" style="width:600px;margin:0px auto;">
                <!--     <div class="form-group">
                         <label for="cid" class="col-sm-2 control-label">ID:</label>
                         <div class="col-sm-10">
                             <input type="text" class="form-control" id="cid" placeholder="please enter id" data-ng-model="newproject.Id" required />
                         </div>
                     </div>
                    -->
                <div class="form-group">
                    <label for="period" class="col-sm-2 control-label">Period:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="period" placeholder="please enter period" data-ng-model="newproject.Period" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="teamC" class="col-sm-2 control-label">Team:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="team" placeholder="please enter team amount members" data-ng-model="newproject.AmountOfMembersOfTheTeam" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Position" class="col-sm-2 control-label">Position:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="position" placeholder="please enter position" data-ng-model="newproject.Position" required />
                    </div>
                </div>


                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addProject.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>Period</th>
                        <td>TeamAmount</td>
                        <th>Position</th>
                        <th></th>

                    </tr>
                    <tr data-ng-repeat="project in projects">

                        <td>
                            <p data-ng-hide="project.editMode">{{ project.Period }}</p>
                            <input data-ng-show="project.editMode" type="text" data-ng-model="project.Period" />
                        </td>
                        <td>
                            <p data-ng-hide="project.editMode">{{ project.AmountOfMembersOfTheTeam }}</p>
                            <input data-ng-show="project.editMode" type="text" data-ng-model="project.AmountOfMembersOfTheTeam" />
                        </td>
                        <td>
                            <p data-ng-hide="project.editMode">{{ project.Position }}</p>
                            <input data-ng-show="project.editMode" type="text" data-ng-model="project.Position" />
                        </td>

                        <td>
                            <p data-ng-hide="project.editMode"><a data-ng-click="getById()" href="javascript:;">Edit</a> | <a data-ng-click="deleteproject(project)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="project.editMode"><a data-ng-click="save(project)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(project)" href="javascript:;">Cancel</a></p>
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <form name="updateProject" data-ng-show="updateMode" style="width:600px;margin:0px auto;">

                <div class="form-group" data-ng-show="false">
                    <label for="period" class="col-sm-2 control-label">Period:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Id" data-ng-model="myProject.Id" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="period" class="col-sm-2 control-label">Period:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="period" data-ng-model="myProject.Period" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="teamC" class="col-sm-2 control-label">Team:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="team" data-ng-model="myProject.AmountOfMembersOfTheTeam" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Position" class="col-sm-2 control-label">Position:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="position" data-ng-model="myProject.Position" required />
                    </div>
                </div>


                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Save" data-ng-click="updateproject()" data-ng-disabled="!updateProject.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleUpdate()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>

</div>
